/* circle icons */
.icon-circle {
  width: 60px;
  height: 60px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* button hover effect */
.btn-hover {
  transition: 0.3s ease-in-out;
}

.btn-hover:hover {
  background-color: #28a745;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.6);
}

/* fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.icon-circle:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.fade-in-delay {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.col-md-4:nth-child(1) .fade-in-delay {
  animation-delay: 0.5s;
}
.col-md-4:nth-child(2) .fade-in-delay {
  animation-delay: 0.7s;
}
.col-md-4:nth-child(3) .fade-in-delay {
  animation-delay: 0.9s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
