<div class="bgimg">
  <div class="inside"></div>
  <div class="text-white">
    <h1 class="display-4 fw-bold text-white mb-3 animate__animated animate__fadeInLeft">
      Nellai Fresh Milk <br /> Delivered Daily 🥛
    </h1>
    <p class="lead text-white animate__animated animate__fadeInLeft animate__delay-1s">
      100% pure, eco-friendly bottled milk straight from our farmers to your doorstep.
    </p>
    <a routerLink="/subscribe" class="btn btn-success btn-lg mt-3 shadow-sm animate__animated animate__fadeInUp">
      Subscribe Now
    </a>
  </div>
</div>